
.grid-element-text{
    display: grid;
    grid-template-columns: 32% 1fr;
    align-items: center;
}

.div-text-elem{
    margin: 0 !important;
    line-height: 1.3;
    
}

#element-text-banner{
    span{
        &:nth-child(3){
            font-size: 1.5rem;
            letter-spacing: 13px;
            text-align: left;
            color: #ffffff80 !important;
            margin-left: 10px;

            &:before{
                content: '';
                width: 39%;
                background: #d42e0d;
                position: relative;
                display: block;
                height: 1px;
                margin: 7px 10px;
            }
        }
    }

}

.banner-section{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("../../static/banner/banner.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


    h1{
        font-size: 2.0em;
        font-weight: bold;
    }
}

.banner-img{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        position: absolute;
        left: 0;
        top:7rem;
        bottom: 0;
        width:100%;
        height:60rem;
    }
}

.f-letter-elem{
    font-weight: 900 !important;
    font-size: 18rem;
    text-align: center;
    color: #000000 !important;
    background: -webkit-linear-gradient(#e0482f, #a90c55);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#banner-layout-responsive{
    height: 50vh;
    grid-template-columns: 15% 1fr;
}


/*Modification*/
.banner-text{
    h1{
        font-size: 8vw;
        line-height: 1;
        font-weight: bold;
        color: #fafafa !important;
        padding: 50px;
    }
    p{
        margin: 0 !important;
        position: relative;
        z-index: 10;
        color: #fafafa !important;
        text-transform: uppercase;
        letter-spacing: 20px;
        font-weight: bold;
        font-size: 2em;
    }

    // span{
    //     font-family: "augusta-free";
    //     font-size: 5em;
    // }

    .first-title{
        font-family: "augusta-free";
        font-size: 5em;
        color: #fafafa;
    }
}